*.app
*.stackdump
*.depend
*.layout
*.i
*.a
*.o
*.7z
*.exe
*.xcuserstate
/CountedTestTests
/LinkTimeSubstTests
/out
/OrderedRepeatedTests
/OutParamTests
/SeparateProcessTests
/SimpleTypesTests
/*.dSYM
